h1{
    text-align: center;
    color: red;
}
li{
    color: rgb(31, 31, 146);
    font-size:x-large;
}
button{
    background-color: rgb(17, 17, 91);
    color: azure;
    width: 100px;
    height: 50px;
}
input{
    width: 250px;
    height: 60px;
    font-size: large;
}